*{
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono", monospace;
}

ul{
    list-style: none;
}

ul a {
    text-decoration: none;
    padding: 2em;
    color: #f1f1f1;
}

.nav-container{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5em;
}

.img-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 12em;
    position: fixed;
}

.img-logo img{
    max-width: 40%;
    height: auto;
    display: block;
}

.img-logo p{
    height: 3em;
    color: #f1f1f1;
}

.footer-container{
    position: fixed;
    width: 100%;
    display: flex;
    bottom: 0;
    justify-content: center;
    margin-bottom: 1em;
    color: #f1f1f1;
}

.corporation-name{
    color: #7743a8;
    font-weight: bold;
}


#principal-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

